//OVERRIDE BOOTSTRAP
$success: #439f6e !default;
$danger: #c80101 !default;
$warning: #cd8a04 !default;

/* COLOR PRIMARY APPLICATION */
$primary-1: #2d2b30 !default;
$primary-2: #6100ff !default;
$primary-3: #ff0097 !default;
$primary-4: #e5e5e5 !default;
$primary-5: #dadada !default;

/* COLOR SECUNDARY APPLICATION */
$secondary-1: #0ae8ff !default;
$secondary-2: #f5f9fc !default;
$secondary-3: #ebf6f6c9 !default;
$secondary-4: #b3baca !default;
$secondary-5: #fef9c3 !default;
$secondary-6: #ffceeb !default;
$secondary-7: #dcfce7 !default;
$secondary-8: #fcdcdc !default;
$secondary-9: #d5dbe3 !default;

//GLOBAL
$gray-3: #333333;
$gray-e5: #e5e5e5;

$overlay: #9b9b9b73;
$body-bg: #ffffff;

$sidebar-w: 68px;
$sidebar-open-w: 300px;
$sidebar-h: 60px;
$sidebar-open-h: 100vh;

$table-tr-hover: #e5e5e533;
$table-td-mobile-bg: #e5e5e580;
